<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Valk Castellani Consultoria, Pesquisa & Desenvolvimento</title>

        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="Valk Castellani Consultoria, Pesquisa & Desenvolvimento" name="description" />
        <meta content="Valk,Castellani,Consultoria,Pesquisa,Desenvolvimento" name="keywords" />

        <!-- Favicons -->
        <link th:href="@{/assets/img/favicon.png}" rel="icon" />
        <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon" />

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />

        <!-- Vendor CSS Files -->
        <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet" />
        <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet" />
        <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet" />
        <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet" />
        <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet" />

        <!-- Template Main CSS File -->
        <link th:href="@{/assets/css/style.css}" rel="stylesheet" />

        <!-- =======================================================
        * Template Name: MyResume - v4.3.0
        * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
    </head>

    <body>

        <!-- ======= Mobile nav toggle button ======= -->
        <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
        <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
        <!-- ======= Header ======= -->
        <header id="header" class="d-flex flex-column justify-content-center">

            <nav id="navbar" class="navbar nav-menu" th:replace="layout/fragments/barra-navegacao :: layout-navbar">
            </nav><!-- .nav-menu -->

        </header><!-- End Header -->

        <!-- ======= Hero Section ======= -->
        <section id="hero" class="d-flex flex-column justify-content-center">
            <div class="container" data-aos="zoom-in" data-aos-delay="100">
                <h1>Valk Castellani</h1>
                <p th:text="#{label.eu.sou}">I'm</p><p><span class="typed" data:typed-items="|#{label.pesquisador}, #{label.desenvolvedor}, #{label.professor}, #{label.freelancer}|"></span></p>
                <div class="social-links">
                    <a href="https://twitter.com/valkcastellani" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="https://www.facebook.com/valk.castellani/" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="https://www.instagram.com/valkcastellani/" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="https://join.skype.com/invite/mDIphavzqGFC" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="https://www.linkedin.com/in/valkcastellani/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=5521998280801" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
                </div>
            </div>
        </section><!-- End Hero -->

        <main id="main">

            <!-- ======= About Section ======= -->
            <section id="about" class="about" th:replace="layout/fragments/sobre :: sobre">
            </section><!-- End About Section -->

            <!-- ======= Facts Section ======= --
            <section id="facts" class="facts" th:replace="layout/fragments/fatos :: fatos">
            </section><!-- End Facts Section -->

            <!-- ======= Skills Section ======= --
            <section id="skills" class="skills section-bg" th:replace="layout/fragments/habilidades :: habilidades">
            </section><!-- End Skills Section -->

            <!-- ======= Resume Section ======= -->
            <section id="resume" class="resume" th:replace="layout/fragments/curriculo :: curriculo">
            </section><!-- End Resume Section -->

            <!-- ======= Portfolio Section ======= --
            <section id="portfolio" class="portfolio section-bg" th:replace="layout/fragments/portfolio :: portfolio">
            </section><!-- End Portfolio Section -->

            <!-- ======= Services Section ======= -->
            <section id="services" class="services" th:replace="layout/fragments/servicos :: servicos">
            </section><!-- End Testimonials Section -->

            <!-- ======= Contact Section ======= -->
            <section id="contact" class="contact" th:replace="layout/fragments/contatos :: contatos">
            </section><!-- End Contact Section -->

        </main><!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer">
            <div class="container">
                <h3>Valk Castellani</h3>
                <p th:text="#{frase.efeito}">Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
                <div class="social-links">
                    <a href="https://twitter.com/valkcastellani" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="https://www.facebook.com/valk.castellani/" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="https://www.instagram.com/valkcastellani/" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="https://join.skype.com/invite/mDIphavzqGFC" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="https://www.linkedin.com/in/valkcastellani/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=5521998280801" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
                </div>
                <div class="copyright">
                    &copy; Copyright <strong><span>Valk Castellani</span></strong> 2018-2021. <span th:text="#{label.todos.os direitos.reservados}">All Rights Reserved</span>
                </div>
                <div class="copyright">
                    &copy; Copyright <strong><span>MyResume</span></strong>. <span th:text="#{label.todos.os direitos.reservados}">All Rights Reserved</span>
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: [license-url] -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </footer><!-- End Footer -->

        <div id="preloader"></div>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script th:src="@{assets/vendor/aos/aos.js}"></script>
        <script th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{assets/vendor/glightbox/js/glightbox.min.js}"></script>
        <script th:src="@{assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
        <script th:src="@{assets/vendor/php-email-form/validate.js}"></script>
        <script th:src="@{assets/vendor/purecounter/purecounter.js}"></script>
        <script th:src="@{assets/vendor/swiper/swiper-bundle.min.js}"></script>
        <script th:src="@{assets/vendor/typed.js/typed.min.js}"></script>
        <script th:src="@{assets/vendor/waypoints/noframework.waypoints.js}"></script>

        <!-- Template Main JS File -->
        <script th:src="@{assets/js/main.js}"></script>

    </body>

</html>