<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>
    <body>
        <nav id="navbar" class="navbar nav-menu"  th:fragment="layout-navbar">
            <ul>
                <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span th:text="#{label.sobre}">About</span></a></li>
                <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span th:text="#{label.curriculo}">Resume</span></a></li>
                <!--<li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>-->
                <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span th:text="#{label.servicos}">Services</span></a></li>
                <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span th:text="#{label.contato}">Contact</span></a></li>
            </ul>
        </nav>
    </body>
</html>
