<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
    </head>
    <body>
        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume" th:fragment="curriculo">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2 th:text="#{label.curriculo}">Resume</h2>
                    <p th:text="#{texto.curriculo.inicial}"></p>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="resume-title" th:text="#{label.sumario}">Sumary</h3>
                        <div class="resume-item pb-0">
                            <h4>Valk Castellani</h4>
                            <p><em th:text="#{texto.curriculo}"></em></p>
                            <ul>
                                <li th:text="#{cidade.fixo}"></li>
                                <li th:text="#{telefone.fixo}"></li>
                                <li th:text="#{email.fixo}"></li>
                            </ul>
                        </div>

                        <h3 class="resume-title" th:text="#{label.educacao}">Education</h3>
                        <div class="resume-item">
                            <h4 th:text="#{label.mestrado.informatica}"></h4>
                            <h5>2010 - 2012</h5>
                            <p><em th:text="#{label.ufrj}"></em></p>
                            <p th:text="#{texto.mestrado}"></p>
                        </div>
                        <div class="resume-item">
                            <h4 th:text="#{label.especialista.engenharia}"></h4>
                            <h5>2001 - 2002</h5>
                            <p><em th:text="#{label.unesa}"></em></p>
                        </div>
                        <div class="resume-item">
                            <h4 th:text="#{label.especialista.banco.dados}"></h4>
                            <h5>2000 - 2001</h5>
                            <p><em th:text="#{label.unesa}"></em></p>
                        </div>
                        <div class="resume-item">
                            <h4 th:text="#{label.graduacao.informatica}"></h4>
                            <h5>1995 - 1998</h5>
                            <p><em th:text="#{label.faa}"></em></p>
                            <p th:text="#{texto.graduacao}"></p>
                        </div>

                        <h3 class="resume-title" th:text="#{label.publicacoes}">Education</h3>
                        <div class="resume-item">
                            <h4 th:text="#{label.titulo.dissertacao}"></h4>
                            <h5>2012 - <span th:text="#{label.portugues}"></span></h5>
                            <p><em><a href="http://objdig.ufrj.br/15/teses/777119.pdf">http://objdig.ufrj.br/15/teses/777119.pdf</a></em></p>
                        </div>
                        <div class="resume-item">
                            <h4 th:text="#{label.artigo.aprioriall}"></h4>
                            <h5>2018 - <span th:text="#{label.ingles}"></span></h5>
                            <h6>IEEE Latin America Transactions, vol. 16, no. 2, pp. 556-563, Feb. 2018, doi: 10.1109/TLA.2018.8327413.</h6>
                            <p><em><span th:text="|#{label.autores}:|">Autores:</span> Lima, Cabral and Lobo, Renan and Castellani, Valk and Cruz, Adriano and Pereira, Bianca and Bastos, Valeria and Soares, Adriana</em></p>
                            <p><em><a href="https://ieeexplore.ieee.org/abstract/document/8327413">https://ieeexplore.ieee.org/abstract/document/8327413</a></em></p>
                        </div>
                        <div class="resume-item">
                            <h4 th:text="#{label.artigo.modelos.aditivos}"></h4>
                            <h5>2017 - <span th:text="#{label.portugues}"></span></h5>
                            <h6>XLIX Simpósio Brasileiro de Pesquisa Operacional, Blumenau-SC, 27 a 30 de Agosto de 2017.</h6>
                            <p><em><span th:text="|#{label.autores}:|">Autores:</span> Pessanha, José Francisco M.; Castellani, Valk L. de Oliveira; Almeira, Victor A.</em></p>
                            <p><em><a href="http://sbic.org.br/lnlm/publicacoes/vol10-no2/vol10-no2-art1/">http://sbic.org.br/lnlm/publicacoes/vol10-no2/vol10-no2-art1/</a></em></p>
                        </div>
                        <div class="resume-item">
                            <h4 th:text="#{label.artigo.wind.power.forecasting}"></h4>
                            <h5>2017 - <span th:text="#{label.ingles}"></span></h5>
                            <h6>Brazil Windpower 2017At: Rio de Janeiro</h6>
                            <p><em><span th:text="|#{label.autores}:|">Autores:</span> Pessanha, José Francisco M.; Castellani, Valk L. de Oliveira; Almeira, Victor A.</em></p>
                            <p><em><a href="https://www.researchgate.net/profile/Jose-Pessanha-2/publication/319422915_Short-Term_Wind_Power_Forecasting_Based_On_Quantile_Regression/links/59a96457458515eafa911b3e/Short-Term-Wind-Power-Forecasting-Based-On-Quantile-Regression.pdf">https://www.researchgate.net/profile/Jose-Pessanha-2/publication/319422915_Short-Term_Wind_Power_Forecasting_Based_On_Quantile_Regression/links/59a96457458515eafa911b3e/Short-Term-Wind-Power-Forecasting-Based-On-Quantile-Regression.pdf</a></em></p>
                        </div>
                        <div class="resume-item">
                            <h4 th:text="#{label.artigo.robot.navigation}"></h4>
                            <h5>2016 - <span th:text="#{label.ingles}"></span></h5>
                            <h6>IEEE/ACS 13th International Conference of Computer Systems and Applications (AICCSA), 2016, pp. 1-7, doi: 10.1109/AICCSA.2016.7945674.</h6>
                            <p><em><span th:text="|#{label.autores}:|">Autores:</span> C. Lima, R. Lobo, A. Cruz, B. Pereira and V. Castellani</em></p>
                            <p><em><a href="https://ieeexplore.ieee.org/document/7945674">https://ieeexplore.ieee.org/document/7945674</a></em></p>
                        </div>
                        
                        <div class="resume-item">
                            <h4 th:text="#{label.artigo.filtragem.medicoes}"></h4>
                            <h5>2012 - <span th:text="#{label.portugues}"></span></h5>
                            <h6>Learning and Nonlinear Models (L&NLM) – Vol. 10, Iss. 2, pp. 90-98.</h6>
                            <p><em><span th:text="|#{label.autores}:|">Autores:</span> Pessanha, José Francisco M.; Castellani, Valk L. de Oliveira; Justino, Thatiana C.; Penna, Débora D. J.; Maceira, Maria E. P.</em></p>
                            <p><em><a href="http://sbic.org.br/lnlm/publicacoes/vol10-no2/vol10-no2-art1/">http://sbic.org.br/lnlm/publicacoes/vol10-no2/vol10-no2-art1/</a></em></p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="resume-title" th:text="#{label.experiencia.profissional}">Professional Experience</h3>
                        <div class="resume-item">
                            <h4><span class="cargos-cepel" data:typed-items="|#{label.pesquisador}, #{label.analista.sistemas}, #{label.gerente.projetos}, #{label.desenvolvedor.desktop}, #{label.desenvolvedor.web}|"></span></h4>
                            <h5>2001 - Present</h5>
                            <p><em th:text="#{cepel.fixo}"></em></p>
                            <ul>
                                <li th:text="#{cepel.encad}"></li>
                                <li th:text="#{cepel.anafin}"></li>
                                <li th:text="#{cepel.anatipo}"></li>
                                <li th:text="#{cepel.prevmel}"></li>
                                <li th:text="#{cepel.tardist}"></li>
                                <li th:text="#{cepel.anabench}"></li>
                                <li th:text="#{cepel.prevmd}"></li>
                            </ul>
                        </div>
                        <div class="resume-item">
                            <h4><span class="cargos-aedb" data:typed-items="|#{label.professor}|"></span></h4>
                            <h5>2013 - 2016</h5>
                            <p><em th:text="#{aedb.fixo}"></em></p>
                            <ul>
                                <li th:text="#{aedb.texto}"></li>
                            </ul>
                        </div>
                        <div class="resume-item">
                            <h4><span class="cargos-pmar" data:typed-items="|#{label.analista.sistemas}, #{label.programador}|"></span></h4>
                            <h5>2003 - 2005</h5>
                            <p><em th:text="#{pmar.fixo}"></em></p>
                            <ul>
                                <li th:text="#{pmar.texto}"></li>
                            </ul>
                        </div>
                        <div class="resume-item">
                            <h4><span class="cargos-fasf" data:typed-items="|#{label.professor}|"></span></h4>
                            <h5>2003 - 2003</h5>
                            <p><em th:text="#{fasf.fixo}"></em></p>
                            <ul>
                                <li th:text="#{fasf.texto}"></li>
                            </ul>
                        </div>
                        <div class="resume-item">
                            <h4><span class="cargos-hitech" data:typed-items="|#{label.analista.sistemas}, #{label.desenvolvedor.desktop}, #{label.lider.equipe}, #{label.gerente.projetos}|"></span></h4>
                            <h5>1999 - 2001</h5>
                            <p><em th:text="#{hitech.fixo}"></em></p>
                            <ul>
                                <li th:text="#{hitech.texto}"></li>
                            </ul>
                        </div>
                        <div class="resume-item">
                            <h4><span class="cargos-g9" data:typed-items="|#{label.analista.sistemas}, #{label.desenvolvedor.desktop}, #{label.gerente.projetos}|"></span></h4>
                            <h5>1997 - 1999</h5>
                            <p><em th:text="#{g9.fixo}"></em></p>
                            <ul>
                                <li th:text="#{g9.texto}"></li>
                            </ul>
                        </div>
                        <div class="resume-item">
                            <h4><span class="cargos-epdvr" data:typed-items="|#{label.programador}, #{label.tecnico.sistemas}|"></span></h4>
                            <h5>1993 - 1996</h5>
                            <p><em th:text="#{epdvr.fixo}"></em></p>
                            <ul>
                                <li th:text="#{epdvr.texto}"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Resume Section -->
    </body>
</html>
